name: Frontend CI CD Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Frontend to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            set -e
            echo "Connected to EC2"

            cd /home/ec2-user/Superapp_Frontend
            echo "In Superapp_Frontend directory"

            git pull origin main

            npm install
            npm run build

            sudo rm -rf /usr/share/nginx/html/*
            sudo cp -r build/* /usr/share/nginx/html/

            sudo systemctl reload nginx
            echo "Frontend deployed successfully"
